.btn1
	{
		margin-left: 400px;
		width: 200px;
 		height: 35px;
   		background-color: #008B8B;
 		border: none;
 		height: 35px;
 		color: white; 
	}

.btn2
	{		
   		background-color:#008B8B;
 		border: none;
 		width: 200px;
 		height: 35px;

	}

